/* Apply the 'Poppins' font to all elements within the contact-section */
.contact-section * {
    font-family: 'Poppins', sans-serif;
}

/* Center the entire contact-section */
.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensure the section takes up at least the full viewport height */
}

/* Style for the section title */
.contact-section .section-title {
    font-size: 36px;
    line-height: 52px;
    font-weight: 900;
    color: #cfa793;
    margin-bottom: 20px; /* Add a margin at the bottom for spacing */
}

/* Style for the section subtitle */
.contact-section .section-subtitle {
    color: #9c9c9c;
    width: 300px;
    display: none;
}

/* Style for the container wrapper */
.contact-section .container-wrapper {
    text-align: center;
}

/* Style for the contact form */
.contact-section .contact-form {
    background-color: white;
    max-width: 450px;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
    border-radius: 6px;
    margin-bottom: 60px;
}

/* Style for input labels */
.contact-section .input-label {
    text-align: left;
    font-size: 14px;
    color: #9c9c9c;
}

/* Style for text input fields */
.contact-section .text-input {
    width: 100%;
    height: 50px;
    padding: 1px 15px;
    border: 2px solid #eeeeee;
    font-size: 16px;
    color: black;
}

/* Style for text area */
.contact-section .text-area {
    width: 98%;
    min-height: 150px;
    padding: 20px 15px;
    border: 2px solid #eeeeee;
    font-size: 16px;
}

/* Style for submit button */
.contact-section .submit-button {
    width: 98%;
    background-color: #443636;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 40px;
}
