*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;

}

/* Style the backgoround home page */
.hero{
    width: 100%;
    height: 100vh;
    background-image:  linear-gradient(rgba(12,3,51,0.3), rgba(12,3,41,0.3));
    position: relative;
    padding:  0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style the title  */
.title{
    text-align: center;
}
.title h1{
    font-size: 100px;
    color: #fff;
    font-weight: 600px;
    transition: 0.5s;
}

.title h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.title h2{
    font-size: 24px;
    color: #fff;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

/* Style the topic  */
.topic {
    position: absolute;
    bottom:15px;
    left: 40px; 
    background-color: transparent;
    max-width: 90%;
}

.topic h1 {
    font-size: 32px;
    color: #cfa793;
}

.topic h2 {
    font-size: 20px;
    color: #fff;
}

/* Style the background video  */
.background-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .background-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .background-video{
        width: auto;
        height: 100%;
    }
}
  
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #cfa793;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
}

/* Style navigation menu links */
.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
    background: black;
    display: block;
    position: relative;
    transition: .5s;
    opacity: 0.8;
}
  
  /* Add a background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: #4a4a4a;
  }
  
  /* Style the active link */
  .active {
    background-color: #443636;
    color: white;
  }

/* Style "About Us" section */
.aboutus-section {
    background-color: #fff; /* Set the desired background color */
    padding: 40px ;
    width: 90%;
}

.aboutus-section h1{
    font-size: 40px;
    color: #cfa793;
    font-weight: 600px;
    transition: 0.5s;
    border-bottom:1.5px solid #cfa793; 
    padding-bottom:5px;
}

.aboutus-section p{
    font-size: 18px;
    color: #443636;
    text-align: justify;
    text-justify: inter-word;
}

/* Style "Read More" Link */
.read-more-link {
    color: #cfa793;
    text-decoration: none;
    display: inline-block;
    font-size: 18px; 
}

.read-more-link i {
    margin-left: 5px;
}

/* Style the footer */
.footer {
    background-color: #443636;
    color: #cfa793; 
    padding: 40px;
}

/* Style the footer description */
.footer h1 {
    text-align: left;
    background-color: #443636;
    color: #fff;
    font-size: 24px;
    font-weight: 500px;
}

.contact-us {
    text-align: right;
    color: #cfa793;
    text-decoration: none;
    display: block;
    font-size: 18px;
}

.contact-us i {
    margin-left: 5px; 
}

.contact-us:hover {
    color: #fff; /* Change the color on hover */
}

footer-policy {
    background-color: #443636;
    padding: 10px;
    color: #cfa793;
    font-size: 18px;
}

/* Style the left and right sections */
footer-policy .left {
    flex-grow: 1;
}

footer-policy .right {
    text-align: right;
}

footer-policy a {
    color: #cfa793;
    text-decoration: none;
    margin-left: 20px;
}

footer-policy a:hover {
    text-decoration: underline;
}
